doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width ,initial-scale=1.0")
	meta(name="description" content="The website and portfolio of Software Developer / Web Developer / Full Stack Engineer Conor O'Flanagan")
	meta(name="keywords" content="Conor, Conor O'Flanagan, JS, Javascript, ES6 ,Software , Web Developer, Freelance, Ireland")
	link(rel='stylesheet', href='/css/index.css')
	link(rel='icon', href='/favicon.ico')
	link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
	link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
	link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
	link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
	link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
	link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
	link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
	link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
	link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
	link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
	link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
	link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
	link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
	link(rel='manifest', href='/manifest.json')
	meta(name='msapplication-TileColor', content='#ffffff')
	meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
	meta(name='theme-color', content='#ffffff')
	title #{title}
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
body
	section.container-intro
		canvas#top
		.container-content.pop
			.welcome
				p Hello, my name is Conor.
				.mini 
					p I'm a software developer, currently based in Dublin.
			.profile
				.image-cropper
					img(src="https://scontent-lhr3-1.xx.fbcdn.net/v/t31.0-8/14289892_1101182033312207_6677832604112832138_o.jpg?oh=b23b867a9f6d05ac2dd652194120ce2a&oe=591884A4", alt="")
	section.container-about
		.container-about-content
			.title 
				p About
			.para1
				p From web development to data analytics, there's alot of coding to be done.  
					| The field is always growing and I strive to be able to gain a knowledge that is as broad is it is deep, in order to build unique solutions. 
				p Having experienced a moved through many tools of my craft, my prefered set ("at the moment") include 
					| JavaScript/ES6, HTML, CSS, React, Node, Python, Mongo and SQL.
			.para2
				u What am I up to at the moment?
				p - Sharpening my skills primarily focusing on ES6.
				p - Some ad-hoc infrastructure consulting.
				p - Research on methods of image recognition, CNN, openCV etc.
				p - Finishing my Computer Science and Business Bachelors.
	section.container-contact
		.title-contact 
			p Contact
		.check-links
			p Want to work with me on your next web project, join your team? 
				| Feel free to checkout my github and linkedIn profiles if you need more info.
		.icons
				a(href="https://github.com/Cono52" target="_blank")
					.icon1.pop
				a(href="https://ie.linkedin.com/in/conor-e-o-flanagan-6470b5ab" target="_blank")
					.icon2.pop
	script(src='js/canvas.js', type='text/javascript')