@import url('https://fonts.googleapis.com/css?family=Nunito')
//font-family: 'Nunito', sans-serif

//shades of center color: (90, 43, 109) (205, 98, 249) (142, 68, 173) (152, 73, 186) (121, 58, 147)
//complement of center colors: (76, 28, 96) (212, 123, 249) (142, 68, 173) (75, 96, 19) (144, 173, 68)

//Mixins
boxShadowHelper(level)
	if level == 1
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
	else if level == 2 
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
	else if level == 3
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
	else if level == 4
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
	else if level == 5
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,1)

html, body
	-webkit-font-smoothing: antialiased
	overflow-y: scroll
	overflow-x: hidden
	margin: 0px
	padding: 0px
	height: 100vh
	background-image:url('/owl.jpg')
	background-position: center center
	background-repeat:	no-repeat
	background-attachment: fixed
	background-size:	cover
	background-color: #999
	color: white

::-moz-selection
	background-color: rgba(230,224,203,0.3)
	color: #fff8e1

::selection
	background-color: rgba(230,224,203,0.3)
	color: #fff8e1


a
	text-decoration: none
	color: white

p, u 
	font-family: 'Nunito', sans-serif

//hide scroller / style
::-webkit-scrollbar
{
  width: 1px  /* for vertical scrollbars */
  height: 12px /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.0)
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5)
  border-radius: 5px
}


//Intro Section

.container-intro
	height: 100vh
	position: relative
	background-color: rgba(90, 43, 109 ,0.5)

.container-content
	position: absolute
	width: 500px
	height: 500px
	left: 50%
	top: 50%
	margin-left: -250px
	margin-top: -250px
	text-align: center

.welcome
	margin-left: auto
	margin-right: auto
	font-size: 40px
	max-width: 600px
	text-align: center

.welcome p
	display: block
	margin: 0px

.image-cropper 
	width: 150px
	height: 150px
	position: relative
	overflow: hidden
	border-radius: 50%
	margin-left: auto
	margin-right: auto
	boxShadowHelper(3)

.image-cropper img
	display: inline
	margin: 0 auto
	height: 100%
	width: auto

.profile 
	padding-top: 50px
	padding-bottom: 50px


// About section

.container-about
	background-color:  rgba(144, 173, 68, 0.6)
	height: auto;
	padding-top: 3em
	padding-bottom: 1em
	margin-left: 0
	margin-right: 0
	

.container-about-content
	font-size: 1.5rem
	position: relative
	height: 50%
	padding-top: 4em
	padding-bottom: 12em

.title p
	font-size: 3rem
	text-align: center
	padding-bottom: 0.5em

.para1
	display: block
	max-width: 400px
	margin: auto

.renai

.para2
	display: block
	max-width: 400px
	margin: auto

// contact section 
.container-contact
	background-color: rgba(121, 58, 147, 0.8)
	clear: both
	height: auto
	padding-top: 3em
	padding-bottom: 1em
	font-size: 1.5rem
	margin: auto
	text-align: center

.title-contact
	font-size: 50px
	text-align: center

.check-links
	max-width: 400px
	margin: auto

.icons
	margin-top: 2em
	display: relative
	margin-bottom: 2em

.icon1
	display: inline-block
	content: url("/githubIcon.svg"); 
	width: 160px 
	height: 160px
	max-width: 200px
	margin-right:-20px
	margin-bottom:-42px

.icon2
	display: inline-block
	content: url("/linkedin_circle_black.svg") 
	width: 160px 
	height: 120px

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
}


.shake 
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 2.0s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;