@import url('https://fonts.googleapis.com/css?family=Gravitas+One')
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker')


html, body
	height: 100%;
	overflow:hidden
	background-image:url('/background.jpg')
	background-position: center center
	background-repeat:  no-repeat
	background-attachment: fixed
	background-size:  cover
	background-color: #999
	color: white
	text-align: center
	font-family: 'Gravitas One', cursive

.header
	font-size: 25px
	margin-bottom: 100px


.info
	margin: 100px

p
	text-align: left

span
	background-color: black
	font-family: 'Permanent Marker', cursive
	font-size: 20px
	min-width: 300px