@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Rubik')
@import url('https://fonts.googleapis.com/css?family=Droid+Serif')

html, body
	margin: 0px
	padding: 0px
	background: #073642
// 	height: 100vh
// 	overflow:hidden
// 	background-image:url('/background.jpg')
// 	background-position: center center
// 	background-repeat:  no-repeat
// 	background-attachment: fixed
// 	background-size:  cover
// 	background-color: #999
// 	color: white

a
	text-decoration: none
	color: rgb(200, 200, 200)
	animation: glow 1s ease-in-out infinite alternate
p
	color: rgb(200, 200, 200)
	

.info
	max-width: 560px
	font-family: 'Droid Sans', sans-serif
	padding: 30px 40px 40px 50px
	margin: auto;
	margin-top: 200px
	text-shadow: 0px 0px 40px rgba(0,0,0,0.5)
	border-radius: 2px
	-webkit-box-shadow: 0px 6px 20px 3px rgba(0,0,0,0.24)
	-moz-box-shadow: 0px 6px 20px 3px rgba(0,0,0,0.24)
	box-shadow: 0px 6px 20px 3px rgba(0,0,0,0.24)

@keyframes glow
	0% 
		text-shadow: 0px 0px 10px rgba(255,255,255, 0.0)
	100%
		text-shadow: 0px 0px 10px rgba(255,255,255, 1.0)